<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_Simplemenu>
            <version>0.1.0</version>
        </Stuntcoders_Simplemenu>
    </modules>
    <global>
        <models>
            <stuntcoders_simplemenu>
                <class>Stuntcoders_Simplemenu_Model</class>
                <resourceModel>stuntcoders_simplemenu_mysql4</resourceModel>
            </stuntcoders_simplemenu>
            <stuntcoders_simplemenu_mysql4>
                <class>Stuntcoders_Simplemenu_Model_Mysql4</class>
                <entities>
                    <simplemenu>
                        <table>stuntcoders_simplemenu</table>
                    </simplemenu>
                </entities>
            </stuntcoders_simplemenu_mysql4>
        </models>
        <blocks>
            <stuntcoders_simplemenu>
                <class>Stuntcoders_Simplemenu_Block</class>
            </stuntcoders_simplemenu>
        </blocks>
        <helpers>
            <stuntcoders_simplemenu>
                <class>Stuntcoders_Simplemenu_Helper</class>
            </stuntcoders_simplemenu>
        </helpers>
        <resources>
            <stuntcoders_simplemenu_setup>
                <setup>
                    <module>Stuntcoders_Simplemenu</module>
                </setup>
            </stuntcoders_simplemenu_setup>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <simplemenu translate="title" module="stuntcoders_simplemenu">
                                    <title>Simple Menu</title>
                                </simplemenu>
                            </children>
                        </cms>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <cms>
                <children>
                    <simplemenu translate="title" module="stuntcoders_simplemenu">
                        <title>Simple Menu</title>
                        <sort_order>0</sort_order>
                        <action>stuntcoders/simplemenu/index</action>
                    </simplemenu>
                </children>
            </cms>
        </menu>
        <layout>
            <updates>
                <stuntcoders_simplemenu>
                    <file>stuntcoders_simplemenu.xml</file>
                </stuntcoders_simplemenu>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <stuntcoders_simplemenu>
                <use>admin</use>
                <args>
                    <module>Stuntcoders_Simplemenu</module>
                    <frontName>stuntcoders</frontName>
                </args>
            </stuntcoders_simplemenu>
        </routers>
    </admin>
</config>
