<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_Menus>
            <version>0.1.0</version>
        </Stuntcoders_Menus>
    </modules>
    <global>
        <models>
            <stuntcoders_menus>
                <class>Stuntcoders_Menus_Model</class>
                <resourceModel>stuntcoders_menus_mysql4</resourceModel>
            </stuntcoders_menus>
            <stuntcoders_menus_mysql4>
                <class>Stuntcoders_Menus_Model_Mysql4</class>
                <entities>
                    <menus>
                        <table>stuntcoders_menus</table>
                    </menus>
                </entities>
            </stuntcoders_menus_mysql4>
        </models>
        <blocks>
            <stuntcoders_menus>
                <class>Stuntcoders_Menus_Block</class>
            </stuntcoders_menus>
        </blocks>
        <helpers>
            <stuntcoders_menus>
                <class>Stuntcoders_Menus_Helper</class>
            </stuntcoders_menus>
        </helpers>
        <resources>
            <stuntcoders_menus_setup>
                <setup>
                    <module>Stuntcoders_Menus</module>
                </setup>
            </stuntcoders_menus_setup>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <menus translate="title" module="stuntcoders_menus">
                                    <title>Menus</title>
                                </menus>
                            </children>
                        </cms>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <cms>
                <children>
                    <menus translate="title" module="stuntcoders_menus">
                        <title>Menus</title>
                        <sort_order>0</sort_order>
                        <action>stuntcoders/menus/index</action>
                    </menus>
                </children>
            </cms>
        </menu>
        <layout>
            <updates>
                <stuntcoders_menus>
                    <file>stuntcoders_menus.xml</file>
                </stuntcoders_menus>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <stuntcoders_menus>
                <use>admin</use>
                <args>
                    <module>Stuntcoders_Menus</module>
                    <frontName>stuntcoders</frontName>
                </args>
            </stuntcoders_menus>
        </routers>
    </admin>
</config>